.project-carousel-items {
    margin-top: 30px;
    overflow: hidden;

    .project-image {
        position: relative;

        @include breakpoint (max-md){
            height: 550px;
        }

        @include breakpoint (max-sm){
            height: 450px;
        }

        img {
            @include imgw;
            border-radius: 5px;
            object-fit: cover;
        }

        .project-content {
            position: absolute;
            bottom: -150px;
            left: 30px;
            right: 30px;
            background-color: $white;
            padding: 30px;
            @include transition;
            opacity: 0;
            visibility: hidden;

            h3 {
                margin-bottom: 10px;

                a {
                    &:hover {
                        color: $theme-color;
                    }
                }
            }

            p {
                color: #616670;
                font-size: 12px;
                font-weight: 600;
                letter-spacing: 2.4px;
            }

            .icon {
                width: 45px;
                height: 45px;
                line-height: 45px;
                text-align: center;
                background-color: $theme-color;
                color: $white;
                display: inline-block;
                border-radius: 50%;
                @include transition;
                position: absolute;
                right: 15px;
                top: -25px;

                &:hover {
                    background-color: $header-color;
                    color: $white;
                }
            }
        }
    }

    &:hover {
        .project-image {
            .project-content {
                opacity: 1;
                visibility: visible;
                bottom: 30px;
            }
        }
    }
}

.project-wrapper {
    .swiper-slide.swiper-slide-active{
        .project-carousel-items {
            .project-image {
                .project-content {
                    opacity: 1;
                    visibility: visible;
                    bottom: 30px;
                }
            }
        }
    }
}

.project-details-wrapper {
    .project-details-items {
        .project-image {
            img {
                @include imgw;
                border-radius: 5px;
            }
        }

        .project-details-content {
            background-color: $bg-color;
            border: 1px solid $border-color;
            padding: 40px;
            border-radius: 5px;
            margin: -150px 40px 0;
            position: relative;
            z-index: 9;

            @include breakpoint (max-md){
                margin: 0;
                padding: 30px;
            }

            h2 {
                font-size: 28px;
                margin-bottom: 15px;
            }

            .d-list {
                margin-top: 20px;

                li {
                    i {
                        color: $theme-color;
                        margin-right: 5px;
                    }

                    &:not(:last-child){
                        margin-bottom: 15px;
                    }
                }
            }
        }

        .pro-details-items {
            margin-top: 50px;

            .thumb {
                img {
                    @include imgw;
                    border-radius: 5px;
                }
            }

            .pro-details-content-items {
                padding: 40px 30px;
                background-color: $bg-color;
                height: 100%;

                .pro-details-cont {
                    margin-bottom: 17px;

                    h3 {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }

    .main-sidebar {
        .single-sidebar-widget {
            .project-catagory {
                background-color: $bg-color;
                padding: 30px;
                border-radius: 5px;

                h3 {
                    margin-bottom: 10px;
                }

                ul {
                    margin-top: 30px;

                    li {
                        font-weight: 600;
                        color: $header-color;
                        @include flex;
                        justify-content: space-between;
                        background-color: $white;
                        padding: 14px 20px;
                        font-size: 20px;
                        border-radius: 5px;

                        &:not(:last-child){
                            margin-bottom: 15px;
                        }
    
                        span {
                            font-weight: 400;
                            font-size: 16px;
                            color: $text-color;
                        }
                    }
                }

                .social-icon {
                    margin-top: 30px;
                    gap: 10px;

                    a {
                        display: inline-block;
                        width: 30px;
                        height: 30px;
                        line-height: 30px;
                        text-align: center;
                        border-radius: 5px;
                        background-color: $black;
                        color: $white;
                        @include transition;

                        &:hover {
                            background-color: $theme-color;
                        }
                    }
                }
            }
        }
    }
}