
.faq-section {
    position: relative;

}

.faq-wrapper {
    .faq-box-area {
        padding: 30px 50px 30px 30px;
        border-radius: 5px;
        border: 1px solid $theme-color;
        display: inline-block;
        margin-top: 40px;

        .box-items {
            @include flex;
            gap: 20px;
            margin-bottom: 20px;

            .content {
                @include flex;
                gap: 15px;

                h3 {
                    font-size: 28px;
                    font-weight: 700;
                }
            }
        }
    }

    .accordion-item {
        border: none !important;
        background-color: $white;

        .accordion-header { 
            .accordion-button { 
                font-weight: 600;
                color: $white;
                letter-spacing: -.2px;
                border: none !important;
                border-radius: 0;
                box-shadow: none;
                background-color: $theme-color;
                padding: 30px 30px 0;
                text-transform: capitalize;
                font-size: 24px;
                border-radius: 5px 5px 0 0;

                @include breakpoint (max-xl){
                    font-size: 20px;
                }

                @include breakpoint (max-sm){
                    font-size: 18px;
                    padding: 20px 20px 0;
                }

                span {
                    margin-right: 20px;
                }

                &::after {
                    content: "\f324";
                    font-family: $fa;
                    background: transparent;
                    font-weight: 500;
                    transition: all 0.3s ease-in-out !important;
                    color: $header-color;
                    font-size: 16px;
                }
                &:not(.collapsed)::after {
                    content: "\f325";
                    font-family: $fa;
                    background: transparent;
                    font-weight: 500;
                    color: $white;
                }

                &.collapsed {
                    background-color: $white;
                    box-shadow: $shadow;
                    padding: 25px 30px;
                    color: $header-color;
                }
            }
        }

        .accordion-collapse { 

            .accordion-body {
                padding-left: 70px;
                padding-top: 25px;
                padding-right: 40px;
                color: #ffffffb3;
                background-color: $theme-color;
                border-radius: 0 0 5px 5px;
                padding-bottom: 28px;

                @include breakpoint (max-md){
                    padding-left: 60px;
                }

                @include breakpoint (max-sm){
                    padding-left: 50px;
                    padding-bottom: 20px;
                }
            }
        }
    }
}
