
:root {
    --body: #fff;
    --black: #000;
    --white: #fff;
    --theme: #A6A182;
    --theme-2: #A6A182;
    --header: #000000;
    --base: #00813D;
    --text: #54595F;
    --text2: #bfbfbf;
    --border: #E6E6E6;
    --border2: #373737;
    --ratting: #F8BC26;
    --bg: #F8F8F8;
    --bg2: #0D0D0D;
    --color-gradient-1: linear-gradient(to left, #fd4a81, #ff5e73, #ff7269, #ff8662, #fc9860);
    ---color-gradient-2: linear-gradient(to left, #ff8662, #fc9860, #ff7269, #fd4a81, #ff5e73);
    ---box-shadow: 0px 6px 25px rgba(0, 0, 0, 0.05);

}

// Theme Color - Defualt Colors
$black: var(--black);
$white: var(--white);
$theme-color: var(--theme);
$theme-color-2: var(--theme);
$text-color: var(--text);
$text-color-2: var(--text2);
$header-color: var(--header);
$border-color: var(--border);
$border-color-2: var(--border2);
$ratting-color: var(--ratting);
$bg-color: var(--bg);
$bg-color-2: var(--bg2);
$color-gradient-1: var(--color-gradient-1);
$color-gradient-2: var(---color-gradient-2);
$shadow: var(---box-shadow);
