 @font-face {
    font-family: "flaticon";
    src: url("../fonts/flaticon.eot?#iefix") format("embedded-opentype"),
    url("../fonts/flaticon.woff2") format("woff2"),
    url("../fonts/flaticon.woff") format("woff")
} 


i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before, span[class^="flaticon-"]:before, span[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before, span[class^="flaticon-"]:before, span[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-blueprint:before {
    content: "\f101";
}
.flaticon-blueprint-1:before {
    content: "\f102";
}
.flaticon-measure:before {
    content: "\f103";
}
.flaticon-house:before {
    content: "\f104";
}
.flaticon-designing:before {
    content: "\f105";
}
.flaticon-blueprint-2:before {
    content: "\f106";
}
.flaticon-modern-house:before {
    content: "\f107";
}
.flaticon-blueprint-3:before {
    content: "\f108";
}
.flaticon-skyline:before {
    content: "\f109";
}
.flaticon-window:before {
    content: "\f10a";
}
.flaticon-windows:before {
    content: "\f10b";
}
.flaticon-window-1:before {
    content: "\f10c";
}
.flaticon-windows-1:before {
    content: "\f10d";
}
.flaticon-window-2:before {
    content: "\f10e";
}
.flaticon-window-3:before {
    content: "\f10f";
}
.flaticon-window-4:before {
    content: "\f110";
}
.flaticon-window-5:before {
    content: "\f111";
}
.flaticon-window-cleaner:before {
    content: "\f112";
}
.flaticon-painting-brush:before {
    content: "\f113";
}
.flaticon-paint-roller:before {
    content: "\f114";
}
.flaticon-paintwork:before {
    content: "\f115";
}
.flaticon-layers:before {
    content: "\f116";
}
.flaticon-layers-1:before {
    content: "\f117";
}
.flaticon-award-symbol:before {
    content: "\f118";
}
.flaticon-olive-branches-award-symbol:before {
    content: "\f119";
}
.flaticon-award:before {
    content: "\f11a";
}
.flaticon-certificate:before {
    content: "\f11b";
}
.flaticon-modern-house-1:before {
    content: "\f11c";
}
.flaticon-architect:before {
    content: "\f11d";
}
.flaticon-plan:before {
    content: "\f11e";
}
.flaticon-blueprint-4:before {
    content: "\f11f";
}
.flaticon-architecture:before {
    content: "\f120";
}
.flaticon-engineer:before {
    content: "\f121";
}
.flaticon-architecture-1:before {
    content: "\f122";
}
.flaticon-floor-plan:before {
    content: "\f123";
}
.flaticon-bathtub:before {
    content: "\f124";
}
.flaticon-tap:before {
    content: "\f125";
}
.flaticon-machine:before {
    content: "\f126";
}
.flaticon-shopping-bag:before {
    content: "\f127";
}
.flaticon-market:before {
    content: "\f128";
}
.flaticon-shopping-cart:before {
    content: "\f129";
}
.flaticon-bed:before {
    content: "\f12a";
}
.flaticon-bed-1:before {
    content: "\f12b";
}
.flaticon-bed-2:before {
    content: "\f12c";
}
.flaticon-hotel:before {
    content: "\f12d";
}
.flaticon-balcony:before {
    content: "\f12e";
}
.flaticon-balcony-1:before {
    content: "\f12f";
}
.flaticon-balcony-2:before {
    content: "\f130";
}
.flaticon-patio:before {
    content: "\f131";
}
.flaticon-balcony-3:before {
    content: "\f132";
}
.flaticon-double-door:before {
    content: "\f133";
}
.flaticon-long-arrow-pointing-to-the-right:before {
    content: "\f134";
}
.flaticon-rotated-right-arrow-with-broken-line:before {
    content: "\f135";
}
.flaticon-arrow:before {
    content: "\f136";
}
.flaticon-right-arrow:before {
    content: "\f137";
}
.flaticon-email:before {
    content: "\f138";
}
.flaticon-regulatory-compliance:before {
    content: "\f139";
}
.flaticon-compliance:before {
    content: "\f13a";
}
.flaticon-livingroom:before {
    content: "\f13b";
}
.flaticon-interior-design:before {
    content: "\f13c";
}
.flaticon-pantone:before {
    content: "\f13d";
}
.flaticon-table:before {
    content: "\f13e";
}
.flaticon-roller-brush:before {
    content: "\f13f";
}
.flaticon-dining-room:before {
    content: "\f140";
}
.flaticon-lamp:before {
    content: "\f141";
}
.flaticon-paint-roller-1:before {
    content: "\f142";
}
.flaticon-flowerpot:before {
    content: "\f143";
}
.flaticon-curtain:before {
    content: "\f144";
}
.flaticon-curtains:before {
    content: "\f145";
}
.flaticon-frame:before {
    content: "\f146";
}
.flaticon-modern-chair:before {
    content: "\f147";
}
.flaticon-wallpaper:before {
    content: "\f148";
}
.flaticon-window-6:before {
    content: "\f149";
}
.flaticon-window-7:before {
    content: "\f14a";
}
.flaticon-floor-plan-1:before {
    content: "\f14b";
}
.flaticon-sofa:before {
    content: "\f14c";
}
.flaticon-chest-of-drawers:before {
    content: "\f14d";
}
.flaticon-interior-design-1:before {
    content: "\f14e";
}
.flaticon-furnitures:before {
    content: "\f14f";
}
.flaticon-interior-design-2:before {
    content: "\f150";
}
.flaticon-desk:before {
    content: "\f151";
}
.flaticon-frame-1:before {
    content: "\f152";
}
.flaticon-window-8:before {
    content: "\f153";
}
.flaticon-color-scheme:before {
    content: "\f154";
}
.flaticon-table-1:before {
    content: "\f155";
}
.flaticon-facebook-logo:before {
    content: "\f156";
}
.flaticon-instagram:before {
    content: "\f157";
}
.flaticon-twitter:before {
    content: "\f158";
}
.flaticon-whatsapp:before {
    content: "\f159";
}
.flaticon-linkedin:before {
    content: "\f15a";
}
.flaticon-social:before {
    content: "\f15b";
}
.flaticon-social-1:before {
    content: "\f15c";
}
.flaticon-room:before {
    content: "\f15d";
}
.flaticon-meeting:before {
    content: "\f15e";
}
.flaticon-living-room:before {
    content: "\f15f";
}
.flaticon-price-tag:before {
    content: "\f160";
}
.flaticon-right-arrow-1:before {
    content: "\f161";
}
.flaticon-text:before {
    content: "\f162";
}
.flaticon-smile:before {
    content: "\f163";
}
.flaticon-layer:before {
    content: "\f164";
}
